body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#headerDiv {
  background-color: rgb(28, 20, 20);
  padding: 25px;
}

#bodyDiv {
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input {
  margin-bottom: 10px;
  padding: 8px;
}

button {
  padding: 8px 16px;
  background-color:rgb(13, 159, 42);
  color: #fff;
  border: none;
  cursor: pointer;
}


/* .delete-icon {
  width: 20px; 
  height: 20px; 
} */

h1 {
  font-size: 32px;
}

p {
  margin-top: 10px;
}



 .dashboard {
  display: flex;
  justify-content: center;
  gap: 20px;
 }

.widget {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  flex-grow: 1;
  max-width: 400px;
  margin-bottom: 20px;
  position: relative;
}

.input-box {
  margin-top: 20px;
  text-align: center;
}



.todo-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 350px;
  height: 20px;
}

.dragging {
  opacity: 0.5;
}

.delete-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #f0f0f0;
}

.header h1 {
  margin: 0;
}

#bodyDiv {
  padding: 20px;
}

.card {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.delete-button{
  position: absolute;
  right: 80px;
  padding: 0px 0px;
  background-color:white;
  color: #fff;
  border: none;
  cursor: pointer;
}


